html,
   .h1{
    margin: 30 !important;
  }


section,
h1{
    margin: 46px !important;
}

#stockInput {
  /* position: absolute; */
  top: 355px;
  left: 575px;
}

#stockInput {
  height: 30px;
  width: 300px;
}




/* a.influencers {color:black !important

}
a.active4{pills:black !important */
